.contactmain {
	margin: 40px 0px 40px 0px;
	background-color: #ffd6d6;
	height: 200px;

	display: grid;
	place-items: center;
}
#allcontact {
	display: grid;
	place-items: center;

	margin: 0 auto;
}
.questiontext {
	font-size: 34px;
	font-weight: 700;
}

@media screen and (max-width: 767px) {
	.questiontext {
		font-size: 24px;
		font-weight: 700;
	}
	.sendmedm {
		display: grid;
		place-items: center;

		margin: 0 auto;
		padding: 15px;
	}
}
